*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: content-box;
    list-style: none;
}
body {
    height: 100vh; /* 100% of viewport height */
    background: url("../pics/bg.png") no-repeat center;
    background-size: cover;
    background-color: rgb(27, 28, 30);
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}


.surface{
    background-color: #2c3a47;
    display: flex;
    align-items: center
    justify-content: flex-start;
    margin-top: 3%;
    padding: 10px;
    width: 1500px;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@media only screen  /* smartphone */
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .surface{
        flex-wrap: wrap;
        height: auto;
    }
}

@media only screen /* desktop */
and (min-width : 1224px) {
    .surface{    
    height: 800px;
    }
}

.left-pannel{
    background: #404b57;
    border-radius: 10px;
    display: inline-block;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.banner{
    background: url("../pics/banner.jpg") no-repeat top;
    background-size: 100% 75%;
    border-radius: 10px; 
    margin: auto;
    display: block;
    align-content: center;
}
.cv-bt{
    display: inline-block;
    padding: 12px 70px;
    border: 1px solid #89c6d8;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 28px;
    margin-top: 28px;
    color: #89c6d8;
    background-color: #242627bb;
    transition: .3s linear;
}
.cv-bt:hover{
    border-color: #74a8b8;
    color: #74a8b8;
    background-color: #242627;
}
.pic{
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 72px 60px 0 60px;
    display: inline-block;
    transition: .3s linear;
}
.prof-pic{
    display: block;
    background: url("../pics/me.jpg");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.prof-pic:hover{
    background: rgb(94, 130, 177);
    transition: .3s linear;
    background: url("../pics/me_dark.png");
    background-size: cover;
}


.short-intro{
    flex: 1;
    font-size: 15px;
    margin-top: 10px;
    color: white;
    padding: 60px;
}
.short-intro span{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #74a8b8;
}
.main-pannel{
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.line-container{
    display: flex;
}

@media only screen /* smartphone */
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .line-container{
        flex-wrap: wrap;
    }
}

.inline-container{
    background: #2d353d;
    padding: 10px;
    width: auto;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.651);
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: auto;
    transition: .3s linear;
}
.inline-container span{
    display: block;
    color: #74a8b8;
    font-size: 20px;
    text-transform: uppercase;
}
.inline-container:hover{
    background: #38414b;
    color: white;
    transition: .3s linear;
}
.inline-container-empty{
    background: #2d353dc9;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    color: rgba(255, 255, 255, 0.301);
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: auto;
    transition: .3s linear;
}
.inline-container-empty span{
    display: block;
    color: #74a8b896;
    font-size: 20px;
    text-transform: uppercase;
}