*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh; /* 100% of viewport height */
    background: url("../pics/bg.png") no-repeat center;
    background-size: cover;
    background-color: rgb(27, 28, 30);
    align-items: center;
    justify-content: center;
    display: flex;
}

.global-container{
    background: rgba(60, 63, 75, 0.24);
    border-radius: 10px;
    height: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    padding: 40px;
}

.margin{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


@keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
}


.belize_poster{
    background: url('../pics/belize_preview.png');
    background-size: 400px 850px;
    height: 850px;
    width: 400px;
    border-radius: 10px;
    position: relative;

}

.belize_poster:hover > .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    border-radius: 10px;
    transition: .3s linear;
}


.margin iframe{ /* youtube video */ 
    margin-top: 70px;
    border-radius: 10px;
}

/* menu */

.middle {
    position: relative;
}

.menu{
    width: 80vw;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.m-item{
    border-top: 1px solid #2c3a47;
    overflow: hidden;
}

.bt{
    display: block;
    padding: 16px 20px;
    background: #2c3a47;
    color: white;
    position: relative;
}

.bt::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #2c3a47;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.bt i{
    margin-right: 10px;
}

.smenu{
    background: #4d667c;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #2c3a47;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}
.smenu a:hover:before{
    opacity: 1;
}
.m-item:target .smenu{
    max-height: 10em;
}
